<div id="<%= dom_id proposta %>">
  <p>
    <strong>Frete:</strong>
    <%= proposta.frete_id %>
  </p>

  <p>
    <strong>Transportador:</strong>
    <%= proposta.transportador_id %>
  </p>

  <p>
    <strong>Valor proposto:</strong>
    <%= proposta.valor_proposto %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= proposta.observacao %>
  </p>

</div>
