<div id="<%= dom_id cotacao %>">
  <p>
    <strong>Cliente:</strong>
    <%= cotacao.cliente_id %>
  </p>

  <p>
    <strong>Origem:</strong>
    <%= cotacao.origem %>
  </p>

  <p>
    <strong>Destino:</strong>
    <%= cotacao.destino %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= cotacao.peso %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= cotacao.volume %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cotacao.status %>
  </p>

</div>
