<!DOCTYPE html>
<html>
  <head>
    <title>CargaClick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <header class="bg-white shadow p-4 flex justify-between items-center">
      <h1 class="text-xl font-bold"><a href="/">CargaClick</a></h1>
      <nav>
        <a href="/login" class="mr-4 text-blue-500 hover:underline">Login</a>
        <a href="/signup" class="text-blue-500 hover:underline">Cadastro</a>
      </nav>
    </header>

    <main class="p-6">
      <%= yield %>
    </main>
  </body>
</html>

